* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #d2e3fc;
  }
  
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
}


  .hero {
    display: flex;
    width: 100%;
    justify-content: center;
    grid-template-columns: 350px;
    text-align: center;
    margin: auto;
  }


/*CARD*/

.card{
    background: #fff;
    color: #000;
    border-radius: 15px;
    padding: 2px;
    max-width: 350px;
    width: 100%;
}
  .card .qr-image {
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 10px 0;
  }

  .card h1{
    font-weight: 500;
    margin: 30px 20px;
    color: rgb(25, 26, 58);
  }

  .card p{
    padding: 10px 30px;
    text-align: center;
    color: #a3a3a3;
  }

    .card h1,p{
    background: #fff;
    border-radius: 15px;
}